<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.tonyatkins.picker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/picker"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.FilePickerActivity"
            android:icon="@drawable/picker" >
            <intent-filter>
                <action android:name="com.blogspot.tonyatkins.picker.action.FILE_PICKER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>